.title {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: xx-large;
    padding: 10px;
    background-color: white;
    border-style: none;
    padding: 10px;
    position: fixed;
    margin: auto;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav {
    float: left;
}

li a.nav {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover.nav {
    background-color: #111;
}


/* Change the link color to #111 (black) on hover */